<?xml version="1.0"?>

<configuration>

    <connectionStrings>
        <add name="libnewConnectionString8" connectionString="Data Source=S404-27\SQLEXPRESS;Initial Catalog=libnew;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="libnewConnectionString4" connectionString="Data Source=S404-27\SQLEXPRESS;Initial Catalog=libnew;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <httpRuntime maxRequestLength="8192" executionTimeout="180" />
    </system.web>
</configuration>
