*{
    margin: 0;
    padding: 0;
}

#toptb {
    min-width: 960px;
    border-bottom: 1px solid #ECEAEA;
    background: #f2f2f2;
    line-height: 28px;
}

.top {
    height: 44px;
}

.register {
    padding-top: 12px;
    padding-right: 28px;
}

a {
    color: #f40;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

label {
    cursor: pointer;
}

.pipe {
    margin: 0 5px;
    color: #CCC;
}


.z {
    float: left;
}

.y {
    float: right;
}

.cl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.cl {
    zoom: 1;
}

